html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 1.3rem;
    margin-left: 9.75rem;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;

}

p {
    font-weight: 500;
    font-size: 1.5rem; 
    color: #FFFFFF;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    background-color: #02A28F;
    height: 5rem;
    margin-top: 90rem;   
}

footer p {
    margin-left: 80rem;
}


.container img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-left: 8rem;
    
}

.grid-post-recentes {
    display: grid;
    width: 1rem;
    margin-left: 9rem;
    gap: 2rem;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    margin-top: 1rem;
}

.grid-item {
  align-items: center;
  height: 100%;
  background-color: #fff;
  border-radius: 1.6rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.item-1 {
    grid-area: 2 / 1;
}
.item-1 {
    grid-area: auto;
}

.item-2 {
    grid-area: 2 / 1;
}

.item-2 {
    grid-area: auto;
}

.item-3 {
    grid-area: 1 / 2;
}

.item-3 {
    grid-area: auto;
}

.item-4 {
    grid-area: 2 / 2;
}

.item-4 {
    grid-area: auto;
}

.grid-item p {
    margin-left: 1rem;
    color: #02A28F;
}

.grid-item h2 {
    margin-left: 1rem;
    color: #000000;
}

.post-athor p {
    color: #616161;
}

.text-post-recents p {
    font-weight: 400;
    color: #000000;
}
.grid-post-popular {
    margin-top: -188rem;

}


.grid-item-popular {
    display: grid;
    width: 42rem;
    margin-top: 2rem;
    margin-left: 87rem;
    padding-bottom: 2.8rem;
    border-radius: 1.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgb(42, 42, 42);
    /*filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));*/
}

.grid-item-popular h2 {
    margin-top: -3.5rem;
    margin-left: 15rem;
    color: #000000;
}

.grid-item-popular p{
    margin-top: -5rem;
    margin-left: 15rem;
    color: #616161;
}
.grid-item-popular img {
    margin-bottom: -5rem;
    margin-left: 1rem;
}

.post-1 {
    grid-area: 1 / 1;
}

.post-1 {
    grid-area: auto;
}

.post-2 {
    grid-area: 1 / 2;
}

.post-2 {
    grid-area: auto;
}

.post-3 {
    grid-area: 1 / 3;
}

.post-3 {
    grid-area: auto;
}

.topico-categoria li {
    margin-left: 84rem;
    margin-bottom: 1rem;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.6rem;
    color: #616161;
}

#presentation-container {
    background-color: #02A28F;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#fundo-post-recentes {
    display: grid;

    margin-top: 45rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
    width: 75rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #02A28F;
}

#fundo-post-recentes h2 {
    margin-left: 2rem;
    font-weight: 700;

}

#fundo-post-recentes p {
    margin-left: 42rem;
    text-decoration: underline;
}

#fundo-popular {
    display: flex;
    margin-top: 48rem;
    margin-left: 87rem;
    width: 42rem;
    height: 4.8rem;
    border-radius: 1rem;
    background-color: #02A28F;
    
}

#fundo-popular h2 {
    margin-top: 1rem;
    margin-left: 2rem;  
    
}

#fundo-categoria {
    width: 42rem;
    height: 5rem;
    margin-top: 2.4rem;
    border-radius: 1rem;
    margin-left: 87rem;
    background-color: #02A28F;
}

#fundo-categoria h2 {
    padding-top: 1rem;
    margin-left: 1rem;
}

#fundo-populares {
    background-color: #02A28F;
}



#list-numero {
    margin-top: -3rem;
    margin-left: 121rem;
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 2.4rem;
    }
    .grid-post-recentes {
        grid-template-columns: 1fr;
    }
  
}