html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 1.3rem;
    margin-left: 9.75rem;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;

}

p {
    font-weight: 500;
    font-size: 1.5rem; 
    color: #FFFFFF;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    background-color: #02A28F;
    height: 5rem;
    margin-top: 83rem;   
}

footer p {
    margin-left: 80rem;
}


.container img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-left: 8rem;
    
}

.grid-post-recentes {
    display: grid;
    gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8rem;
}

.grid-item {
    margin-top: -6rem;
    margin-left: 8rem;
}
.grid-item p {
    margin-left: 1rem;
    color: #02A28F;
}

.grid-item h2 {
    margin-left: 1rem;
    color: #000000;
}

.post-athor p {
    color: #616161;
}

.text-post-recents p {
    font-weight: 400;
    color: #000000;
}

.topico-categoria li {
    margin-left: 84rem;
    margin-bottom: 1rem;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.6rem;
    color: #616161;
}

#presentation-container {
    background-color: #02A28F;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#fundo-post-recentes {
    display: flex;

    margin-top: 45rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
    width: 75rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #02A28F;
}

#fundo-post-recentes h2 {
    margin-left: 2rem;
    font-weight: 700;

}

#fundo-post-recentes p {
    margin-left: 42rem;
    text-decoration: underline;
}

#fundo-populares {
    display: flex;
    margin-top: -90rem;
    margin-left: 87rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #02A28F;
    
}

#fundo-populares h2{
    margin-left: 2rem;

}

#post-populares {
    height: 7.3rem;
    margin-left: 87rem;
    width: 40rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px .3rem .1rem rgb(0,0,0,0.5);
    border-radius: 1rem;
}

#post-populares h2 {
    padding-bottom: 3rem;
    margin-top: -7.5rem;
    margin-left: 15rem;
    color: #000000;
}

#post-populares p {
    margin-top: -5rem;
    margin-left: 15rem;
    font-size: 1.4rem;
    color: #616161;
}


#fundo-categorias {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 87rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #02A28F;    
}

#fundo-categorias h2 {
    margin-left: 2rem;
}


#list-numero {
    margin-top: -3rem;
    margin-left: 121rem;
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 2.4rem;
    }
  
}